@font-face {
    font-family: 'Angie';
    src: url('AngieBlack.eot');
    src: url('AngieBlack.eot?#iefix') format('embedded-opentype'),
        url('AngieBlack.woff2') format('woff2'),
        url('AngieBlack.woff') format('woff'),
        url('AngieBlack.ttf') format('truetype'),
        url('AngieBlack.svg#AngieBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

